.card {
  background-color: white;
  height: 86px;
  width: 85%;
  margin-left: 5%;
  margin-bottom: 20px;
  border-style: none;
  border-radius: 20px;
  box-shadow: 2.5px 2.5px 18px #DCDCDC;
}

.card-home {
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  gap: 20px;
  border-style: hidden;
  font-size: 18px;
  font-weight: 500;
}
.card-home .card-home__circle {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 400px;
  color: #FFF;
  margin-left: -15px;
}

.card-menuselect {
  height: 60vw;
}
.card-menuselect .card-menuselect__imgcontainer {
  width: 100%;
  height: 75%;
}
.card-menuselect .card-menuselect__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card-menuselect .card-menuselect__txt {
  height: 25%;
}
.card-menuselect .card-menuselect__icon {
  position: relative;
  font-size: 20px;
  bottom: 62px;
  margin-left: 88%;
}

.card-menu {
  overflow: hidden;
}
.card-menu__txt {
  height: 71px;
  width: 95%;
  margin-left: 2.5%;
  margin-top: -19px;
}
.card-menu__title {
  top: 11px;
}
.card-menu__details {
  display: flex;
  gap: 61%;
  margin-top: -26px;
}
.card-menu__tick {
  color: #FFF;
  background-color: #99E2D0;
  height: 100%;
  width: 15%;
  font-size: 35px;
  margin-left: 101%;
  position: relative;
  bottom: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-menu__tick:hover {
  transform: translateX(-60px);
  transition: 70ms;
}
.card-menu__price {
  margin-left: 90%;
  margin-top: -54px;
}

.button {
  color: white;
  background: linear-gradient(350deg, #7A42BC, #FF79DA);
  box-shadow: 2.5px 2.5px 18px #DCDCDC;
  font-family: roboto;
  height: 50px;
  width: 150px;
  margin-left: 28%;
  border-radius: 50px;
  border-style: none;
  position: relative;
  z-index: 1;
}
.button:hover::after {
  opacity: 1;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(350deg, #7037B3, #FA59CE);
  color: white;
  box-shadow: 2.5px 2.5px 18px #C0C0C0;
  border-radius: 50px;
  transition: opacity 250ms;
  opacity: 0;
  z-index: -1;
}

.button-wide {
  margin-left: 26%;
  width: 215px;
  margin-top: 12px;
}

header {
  background-color: white;
}

#menupic {
  width: 100%;
}

.topbar {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topbar__arrow {
  position: relative;
  right: 152px;
}

#topbar__img {
  width: 100%;
}

.menutop {
  margin-top: -60px;
  z-index: 100;
  position: relative;
}
.menutop .menutop__inner {
  background-color: white;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

h1, h2 {
  font-family: shrikhand;
  font-size: 40px;
}

.homeheader {
  font-family: Roboto;
  font-size: 27px;
  margin-left: 22%;
}

.homeheader-alt {
  margin-left: 22px;
}

.logowrap {
  box-shadow: 2.5px 2.5px 18px #B2B2B2;
  padding-top: 5px;
  position: relative;
  z-index: 100;
}

.homelogo {
  margin-left: 30%;
  position: relative;
  bottom: 11px;
}

.subwrap {
  background-color: #E9E9E9;
  position: relative;
  bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 15px;
}

.topbox {
  background-color: #F1F0F0;
  padding-top: 10px;
  padding-bottom: 55px;
  position: relative;
  bottom: 24px;
}

#topboxtxt {
  width: 76%;
  margin-left: 14%;
  text-align: center;
  font-size: 17px;
  color: #7E7E7E;
}

.restaurants {
  background-color: #F1F0F0;
}

h5 {
  font-family: shrikhand;
  font-size: 19px;
}

h3, h4 {
  font-family: Roboto;
  font-size: 20px;
}

p {
  font-family: roboto;
}

ul {
  list-style: none;
}

footer {
  background-color: #353535;
  font-family: roboto;
  color: white;
  padding-bottom: 35px;
}

.footerlogo {
  position: relative;
  top: 19px;
}

/*# sourceMappingURL=style.css.map */
