.button {
    color: white;
    background: linear-gradient(350deg, $colour-primary, $colour-secondary);
    box-shadow: 2.5px 2.5px 18px #DCDCDC;
    font-family: roboto;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    border-style: none;
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(350deg, #8D55CE, #FF89DF);
        color: white;
        box-shadow: 2.5px 2.5px 18px #BBBBBB;
        border-radius: 50px;
        transition: opacity 250ms;
        opacity: 0;
        z-index: -1;
    }
}

#restaurantjump {
    display: flex;
    justify-content: center;
}

.button-wide {
    width: 215px;
    margin-top: 12px;
}

.orderbutton {
    display: flex;
    justify-content: center;
}

.button-order {
    margin-top: 30px;
    margin-bottom: 50px;
}

#hearticon__menu {
    position: absolute;
    margin-left: 87%;
    top: 45px;
}

#hearticonfill__menu {
    position: absolute;
    color: transparent;
    -webkit-background-clip: text;
    margin-left: 87%;
    top: 45px;
    background-image: linear-gradient($colour-primary, $colour-secondary);
}