
a {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    font-family: shrikhand;
    font-size: 40px;
}

h5 {
    font-family: shrikhand;
    font-size: 19px;
}

h3, h4 {
    font-family: Roboto;
    font-size: 20px;
}

p {
    font-family: roboto;
}

#menupic {
    width: 100%;
}