@mixin truncatetext {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin truncatelarge {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
   -webkit-line-clamp: 2;
}